.container {
  display: flexbox;
  height: 810px;
  width: 1520px;
}
.upper-side {
  margin-left: 20px;
  margin-bottom: 5px;
  padding: 10px;
  height: 35%;
  width: 100%;
  border: 4px solid #000;
  border-radius: 10px;
}

.information-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3px;
  height: 71%;
  width: 100%;  
}

.general-info {
  height: 100%;
  width: 32%;
  border: 4px solid #000;
  border-radius: 10px;
}

.education {
  height: 100%;
  width: 32%;
  border: 4px solid #000;
  border-radius: 10px;
}

.professional-exp {
  height: 100%;
  width: 32%;
  border: 4px solid #000;
  border-radius: 10px;
}

.lower-side {
  padding: 10px;
  height: 70%;
  width: 100%;
  margin-left: 20px;
  border: 4px solid #000;
  border-radius: 10px;
}
